body {
	font-size:16px;
	color:#000;
	background-color:#fff;
	font-family:"Arial" sans-serif;
}
.navbar-header {
	height:65px;
}
#header-nav {	
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	border-radius:0;
	background-color:#666666;
}

.navbar-brand h1 {
	font-size:25px;
	margin-top:0;
    margin-bottom:0;
	font-weight:bold;
	color:#000;
}
#collapsable-nav {
	padding:0;
}
#nav-list {
  margin:0px;
} 
#nav-list a:hover {
  background-color:#d9d9d9;
}
#nav-list a {
  text-align:center;
  background-color:#fff;
  border:1px solid #000;
  color:#000;
}  

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border:1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear:both;
  margin-top:-35px;
} 

h2 {
	margin-top:80px;
}
.row div {
	background-color:#808080;
	height:1000px;
}

@media (max-width:767px) {

.container .row {
	margin-left:20px;
	margin-right:20px;
}
}
